---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: llama-stack-instance
  namespace: openshift-gitops
spec:
  generators:
  - list:
      elements:
      - user: user1
      - user: user2
  template:
    metadata:
      name: llama-stack-instance-{{ user }}
      namespace: openshift-gitops
    spec:
      project: default
      source:
        repoURL: https://github.com/rhpds/private-llmaas-multitenant
        targetRevision: taylor-testing
        path: llama-stack-instance
        helm:
          values: |
            username: '{{ user }}'
            granite:
              modelName: granite-3dot2-8b-instruct
              endpoint: "http://maas.apps.ocp.w2mmc.sandbox5295.opentlc.com/llm/granite-3dot2-8b-instruct"
              apiToken: "vhSjFEQo5hncP8KYxQPy"
              tlsverify: true
            llamaguard:
              modelName: llama-guard-3-1b
              endpoint: "http://maas.apps.ocp.w2mmc.sandbox5295.opentlc.com/llm/llama-guard-3-1b"
              apiToken: "vhSjFEQo5hncP8KYxQPy"
              tlsverify: true
            mcp:
              openshiftServerUrl: http://ocp-mcp-server.lls-demo.svc.cluster.local:8000/sse
              slackServerUrl: http://slack-mcp-server.lls-demo.svc.cluster.local:80/sse
      destination:
        server: https://kubernetes.default.svc
      syncPolicy:
        automated: {}
        syncOptions:
          - CreateNamespace=true
