apiVersion: llamastack.io/v1alpha1
kind: LlamaStackDistribution
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "3"
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-options: Prune=false
  name: llamastack
spec:
  replicas: 1
  server:
    containerSpec:
      env:
        - name: GRANITE_URL
          value: '{{ .Values.granite.endpoint }}'
        - name: GRANITE_TOKEN
          value: '{{ .Values.granite.apiToken }}'
        - name: SAFETY_MODEL
          value: '{{ .Values.llamaguard.endpoint }}'
        - name: VLLM_API_TOKEN
          value: '{{ .Values.llamaguard.apiToken }}'
      name: llama-stack
      port: 8321
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
    distribution:
      image: llamastack/distribution-remote-vllm:latest
    userConfig:
      configMapName: llama-stack-config
